@using MedicalAppointments.Application.ViewModels
@* @model MedicalAppointments.Domain.Models.Hospital *@
@model HospitalViewModel
@* @{
    ViewData["Title"] = "AddNew";
} *@

<h1>AddNew</h1>

<h4>Hospital</h4>
<hr />
@* <div class="row">
    <div class="col-md-4">
        <form asp-action="AddNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@



<form method="post">
    <div class="form-group">
        <label for="HospitalName">Hospital Name</label>
        <input type="text" id="HospitalName" name="HospitalName" class="form-control" value="@Model.HospitalName" required />
    </div>

    <div class="form-group">
        <h3>Address</h3>
        <label for="Street">Street</label>
        <input type="text" id="Street" name="AddressDetails.Street" class="form-control" value="@Model.AddressDetails.Street" required />
    </div>

    <div class="form-group">
        <label for="City">City</label>
        <input type="text" id="City" name="AddressDetails.City" class="form-control" value="@Model.AddressDetails.City" required />
    </div>

    <div class="form-group">
        <label for="Suburb">Suburb</label>
        <input type="text" id="Suburb" name="AddressDetails.Suburb" class="form-control" value="@Model.AddressDetails.Suburb" required />
    </div>

    <div class="form-group">
        <label for="PostalCode">Postal Code</label>
        <input type="text" id="PostalCode" name="AddressDetails.PostalCode" class="form-control" value="@Model.AddressDetails.PostalCode" required />
    </div>

    <div class="form-group">
        <h3>Contact</h3>
        <label for="PhoneNumber">Phone Number</label>
        <input type="text" id="PhoneNumber" name="ContactDetails.PhoneNumber" class="form-control" value="@Model.ContactDetails.PhoneNumber" required />
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" id="Email" name="ContactDetails.Email" class="form-control" value="@Model.ContactDetails.Email" required />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
